:root {
  font-size: 62.5%; /* 1 rem = 10 px */

  --font:'Barlow Semi Condensed', sans-serif;
}

* {
  margin: 0rem;
  padding: 0rem;
}

body {
  color: #fff;
  font-size: 1.8rem;
  font-family: var(--font);
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

